<nav class="w-full bg-white h-[42px] shadow flex items-center justify-between px-6">
  <div class="flex items-center space-x-6">
    <img src="../assets/angular.png" alt="Logo" class="w-12 h-10 object-contain" />

    <ul class="flex items-center space-x-6">
      <li>
        <a routerLink="/" class="relative text-gray-700 hover:text-black-600 transition
          after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-0 after:bg-orange-600
          hover:after:w-full after:transition-all after:duration-300">Home</a>
      </li>
      <li>
        <a routerLink="/contenido" class="relative text-gray-700 hover:text-black-600 transition
          after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-0 after:bg-orange-600
          hover:after:w-full after:transition-all after:duration-300">Remoto</a>
      </li>
      <li>
        <a routerLink="/remoto" class="relative text-gray-700 hover:text-black-600 transition
          after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-0 after:bg-orange-600
          hover:after:w-full after:transition-all after:duration-300">Button nav</a>
      </li>
      <li>
        <a routerLink="/otro" class="relative text-gray-700 hover:text-black-600 transition
          after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-0 after:bg-orange-600
          hover:after:w-full after:transition-all after:duration-300">Otro</a>
      </li>
    </ul>
  </div>

  <div class="flex items-center space-x-4">
    <button class="bg-[#ffff] p-2 rounded-full hover:bg-black-700 transition">
      <img src="../assets/notifications.png" class="h-5 w-5" />
    </button>
    <img src="../assets/angular.png" alt="Perfil" class="h-8 w-8 rounded-full object-cover" />
  </div>
</nav>

<router-outlet></router-outlet>